@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #34D399; /* Progress bar color */
    z-index: 9999; /* Ensure it stays above other elements */
    transition: width 0.2s ease-in-out;
  }